<div class="dashboardcontainer">

<h1 class="mt-5">Dashboard de <%= current_user.first_name.capitalize %> ^-^</h1>

  <div class="notifications mt-5">
        <% @sorted.each do |booking| %>
        <div class="notification">
          <img src='<%=booking.videogame.photo%>' class="avatar-notification"/>
          <div class="notification-content">
            <div>
              <%= link_to "Vous avez réservé #{booking.videogame.name}", videogame_path(booking.videogame.id) %>
            </div>
            <div id="dates">
              <%= "Dates de réservation : #{booking.start_time.day}.#{booking.start_time.month}.#{booking.start_time.year} - #{booking.end_time.day}.#{booking.end_time.month}.#{booking.end_time.year}" %>
            </div>
          </div>
        </div>
        <% end %>
  </div>

</div>
