<h1><%= current_user.first_name.capitalize %>'s dashboard ^-^</h1>

  <div class="notifications">
        <% @sorted.each do |booking| %>
        <div class="notification">
          <img src='<%=booking.videogame.image%>' class="avatar-notification"/>
          <div class="notification-content">
            <p>You booked <%= booking.videogame.name %></p>
          </div>
        </div>
        <% end %>
  </div>
