


  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555864326-5cf22ef123cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3294&q=80);">
    <div class="container">
      <h1>Retro Game Show</h1>
      <p>Louer les jeux vidéos cultes de votre enfance</p>
    </div>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro tempora aperiam dolor nesciunt veritatis, consectetur molestiae quod commodi similique deleniti quisquam sunt provident magnam consequatur nobis impedit quaerat, laudantium quasi.</p>



<!-- ctrl bootstrap
  <button class="btn btn-primary" type="submit">Button</button> -->
<!--   <button type="button" class="btn btn-warning">Warning</button> -->





