
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url(https://images.unsplash.com/photo-1555864326-5cf22ef123cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3294&q=80);">
    <div class="container">
      <h1>Retro Game Show</h1>
      <p>Louer les jeux vidéos cultes de votre enfance</p>
      <button class="btn btn-gradient" ><%= link_to "Redécouvrez les jeux", videogames_path %></button>
    </div>
  </div>





<!-- ctrl bootstrap
   -->
<!--   <button type="button" class="btn btn-warning">Warning</button> -->





