.container {
  height: 500px;
  //padding: 100px 200px 100px 200px;
}

.container > .title {
  margin-bottom: 20px;
}

.container .simple_form {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.container .simple_form div.input {
  text-align: left;
}

.container > .body {
  display: flex;
  flex-direction: row;
}

.container > .body > .card-img {
  width: 100%;
  max-width: 600px;
}

.container > .body > .card-img img {
  -webkit-box-shadow: 5px 5px 24px -7px #000000;
  box-shadow: 5px 5px 24px -7px #000000;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-fit: fill;
  border-radius: 10px;
  max-height: 350px;
}

.form-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  // background-color: pink; ici mettre un effet ombre
  -webkit-box-shadow: 5px 5px 24px -7px #000000;
  box-shadow: 5px 5px 24px -7px #000000;
  display: flex;
  width: 20%;
  height: 100%;
  min-width: 300px;
  //border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  margin-left: 30px;
  padding: 20px;
  height: 350px;
}

.form-card-content {
  width: 100%;
}


.form-card-content input.btn {
  margin-top: 50px;
}
